::ng-deep .mdc-switch .mdc-switch__track {
  height: 22px !important;
  width: 66px !important;
  border-radius: 18px !important;
  border: 3px white solid !important;
}

::ng-deep .mdc-switch {
  width: 50px !important;
}
