@use "@angular/material" as mat;
@include mat.core();

// $theme: mat.define-light-theme((
//   color: (
//     primary: mat.define-palette(mat.$indigo-palette),
//     accent: mat.define-palette(mat.$pink-palette, A200, A100, A400),
//     warn: mat.define-palette(mat.$red-palette),
//   ),
//   typography: mat.define-typography-config(),
//   density: 0
// ));

// $dark-theme: mat.define-dark-theme((
//   color: (
//     primary: mat.define-palette(mat.$purple-palette),
//     accent: mat.define-palette(mat.$green-palette, A200, A100, A400),
//   )
// ));

// @include mat.all-component-themes($theme);

// Define a light theme
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette),
      accent: mat.define-palette(mat.$pink-palette, A200, A100, A400),
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Define a dark theme
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$pink-palette),
      accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400),
    )
  )
);

// @debug map-get($map: $light-theme, $key: background);

@include mat.all-component-themes($light-theme);

.dark-theme {
  @include mat.all-component-colors($dark-theme);
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;  
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(223, 223, 223)
}
